{% extends '::base.html.twig' %}
  {% block body %}
  <body>
  <h1>GFCT</h1><br>
  <div class="panel panel-default">
    <div class="panel-heading">Panel de alumnos</div>
      <table class="table">
        <tr>
          <th><b>id</b></th>
          <th><b>nombre</b></th>
          <th><b>apellido1</b></th>
          <th><b>apellido2</b></th>
          <th><b>ciclo</b></th>
          <th><b>empresa_id</b></th>

        </tr>
        {% for alumno1 in NumAlumnos %}
        <tr>
          <td>{{ alumno1.id}}</th>
          <td>{{ alumno1.nombre }}</td>
          <td>{{ alumno1.apellido1 }}</td>
          <td>{{ alumno1.apellido2 }}</td>
          <td>{{ alumno1.ciclo }}</td>
          <td>{{ alumno1.empresa.id }}</td>

        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
    </body>
    {% endblock %}
